<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/2eed7bf050.js" crossorigin="anonymous"></script>

    <title>Kanban App</title>
</head>
<body>
    <div id="app">
        <nav>
            <div id="title">
                <h1><b>Kanban App</b></h1>
            </div>
            <div class="navbar">
                <a href="#" id="signin" v-show="curentPage === 'login' || curentPage === 'register'" @click.prevent="signin">Sign In</a>
                <a href="#" id="signup" v-show="curentPage === 'login' || curentPage === 'register'" @click.prevent="signup">Sign Up</a>
                <!-- <a href="#" id="signout" v-show="curentPage === 'home' || curentPage === 'addtask'">{{userName.toUpperCase()}}</a> -->
                <a href="#" id="signout" v-show="curentPage === 'home' || curentPage === 'addtask' || curentPage === 'edittask'" @click.prevent="signout">Sign Out</a>
            </div>
        </nav>
        <div id="addtask" v-show="curentPage === 'home' || curentPage === 'addtask' || curentPage === 'edittask'">
            <button type="button" class="btn btn-dark" id="button-add" @click.prevent="addtask">Add Task</button>
        </div>

        <div id="addTask" v-show="curentPage === 'addtask'">
            <form @submit.prevent="addTask">
              <h3>Add Your Task <span type="button" class="btn btn-danger btn-sm" id="closeAdd" data-toggle="tooltip" data-placement="bottom" title="Close" @click.prevent="curentPage = 'home'"><i class="fa fa-times" aria-hidden="true"></i></span></h3>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="titleTask" v-model="titleTask" placeholder="Title">
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="description" v-model="description"  placeholder="Describe your task here..."></textarea>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <!-- <label for="inputState">State</label> -->
                    <select id="category" v-model="category" class="form-control">
                      <option value="" selected>--Select Category--</option>
                      <option value="backlog"><em>Backlog</em></option>
                      <option value="todo"><em>Todo</em></option>
                      <option value="doing"><em>Doing</em></option>
                      <option value="done"><em>Done</em></option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block"><b>Add New Task</b></button>
            </form>
        </div>

        <div id="editTask" v-show="curentPage === 'edittask'">
            <form @submit.prevent="editTask(idEdit)">
                <h3>Edit Your Task <span type="button" class="btn btn-danger btn-sm" id="closeAdd" data-toggle="tooltip" data-placement="bottom" title="Close" @click.prevent="curentPage = 'home'"><i class="fa fa-times" aria-hidden="true"></i></span></h3>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="titleEdit">Title</label>
                      <input type="text" class="form-control" id="titleEdit" v-model="titleEdit">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="descriptionEdit">Description</label>
                    <textarea class="form-control" id="descriptionEdit" v-model="descriptionEdit"></textarea>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <label for="categoryEdit">Category</label>
                      <select id="categoryEdit" v-model="categoryEdit" class="form-control">
                        <option value="" selected>--Select Category--</option>
                        <option value="backlog"><em>Backlog</em></option>
                        <option value="todo"><em>Todo</em></option>
                        <option value="doing"><em>Doing</em></option>
                        <option value="done"><em>Done</em></option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-lg btn-block"><b>Edit Task</b></button>
              </form>
        </div>

        <main v-show="curentPage === 'home' || curentPage === 'addtask' || curentPage === 'edittask'">
            <div class="container" v-for="(category,i) in categories">
                <div class="col-sm" :id="category.toLowerCase()">
                    <div class="category-title">
                        <h3>{{category}}</h3>
                    </div>
                    <div class="category-task">
                        <div class="container" v-for="(task,i) in tasks" :key="task.id">
                            <div class="card" style="width: 100%;" v-if="task.category === category.toLowerCase()">
                                <div class="card-body">
                                <h5 class="card-title">{{task.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">By: <span>{{task.User.name}}</span></h6>
                                <hr>
                                <p class="card-text">{{task.description}}.</p>
                                <br>
                                <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete" @click.prevent="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                                    <span class="action" v-if="task.category === 'backlog'">
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Edit" @click.prevent="edittask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Move to Todo" @click.prevent="moveTodo(task.id)"><i class="fas fa-check"></i></a>
                                    </span>
                                    <span class="action" v-else-if="task.category === 'todo'">
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Back to Backlog" @click.prevent="moveBacklog(task.id)"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></i></a>
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Edit" @click.prevent="edittask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Move to Doing" @click.prevent="moveDoing(task.id)"><i class="fas fa-check"></i></a>
                                    </span>
                                    <span class="action" v-else-if="task.category === 'doing'">
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Back to Todo" @click.prevent="moveTodo(task.id)"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Edit" @click.prevent="edittask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Move to Done" @click.prevent="moveDone(task.id)"><i class="fas fa-check"></i></a>
                                    </span>
                                    <span class="action" v-else></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div id="form_registration" v-show="curentPage === 'register'">
            <form id="dataRegister" @submit.prevent="register">
              <h3>Registration Form</h3>
                <div class="">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="nameReg" v-model="nameReg" placeholder="Name">
                    </div>
                </div>
                <br>
                <div class="">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="emailReg" v-model="emailReg" placeholder="Email">
                    </div>
                </div>
                <br>
                <div class="">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="passwordReg" v-model="passwordReg" placeholder="Password">
                    </div>
                </div></br>
                <div class="">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="form_login" v-show="curentPage === 'login'">
            <br>
            <div id="alertLogin" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Invalid Username or Password!</strong>
            </div>
            <form id="dataLogin" @submit.prevent="login">
                <div class="">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="emailLogin" v-model="emailLogin" placeholder="Email">
                    </div>
                </div>
                <br>
                <div class="">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="passwordLogin" v-model="passwordLogin" placeholder="Password">
                    </div>
                </div></br>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
            </form>
            <div class="col-sm-12" style="margin-top: 10px; margin-bottom: 10px;">
                Or Login With Google:
            </div>
            <div class="col-sm-12">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
            <div class="col-sm-12" style="margin-top: 10px;" id="registerclick">
                <h5>Don't have an account? <a href="#" @click.prevent="signup">Sign Up</a></h5>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>