@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.nav-icon{
    fill: wheat;
}

.container-tasks{
    height: 400px;
}

.container-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.center-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBg{
 /*   background: url(https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);*/ 
  background-color:  blanchedalmond; 
  /*background: linear-gradient(21deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
*/
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }