* {
  margin: 0;
  padding: 0;
}

.category-body {
  padding: 10px;
  max-height: 480px;
  height: auto;
  overflow-y: auto;
}

.username_show {
  font-size: 15px;
}

::-webkit-scrollbar { 
  display: none; 
}