@import './node_modules/bulma/bulma.sass';

// CSS CODE

.container-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 160, 114);
    .box-form {
        border-radius: 5px;
        background-color: #fff;
        width: 320px;
        padding: 28px 30px;
    }
}
.container-kanban {
    height: 100vh;
    padding: 20px;
    display: -webkit-box;
    .category {
        margin: 0 10px;
        width: 300px;
        .message-body {
            max-height: 75vh;
            overflow: auto;
        }
    }
}