* {
    padding: 0;
    margin: 0;
    
}

nav {
    display: flex;
    justify-content: space-between;
    background:  #485460;
    border-bottom: 2px solid black;
}

.nav-item a {
    color: white;
}

.dropdown-menu {
    background: #485460
}

.home a {
    color: white;
}

.nav-user ul {
    list-style: none;
}

.nav-user li {
    display: inline;
}

.nav-user a {
    color: white;
}

#title-word {
    text-align: center;
}

#loginPage-Container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
    height: 500px;    
    border: 2px solid black;
    box-shadow: 5px 10px #888888;
}

#loginPage_left {
    display: flex;
    height: 250px;
    width: 300px;
    margin-top: 50px;
    justify-content: center;
}

#loginPage_right {
    display: flex;
    height: 400px;
    width: 250px;
    margin-top: 50px;
    justify-content: center;
    border: black 2px solid;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
}

h5 {
    margin-top: 15px;
    font-weight: bold
}

#containerKanban {
    display: flex;
    justify-content: space-between;
}

#backlog-board {
    margin-top: 15px;
    border: black 2px solid;
    border-radius: 25px;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px #888888;
}

#backlog-board h5 {
    text-align: center;
}

#todo-board {
    margin-top: 15px;
    border: black 2px solid;
    border-radius: 25px;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px #888888;
}

#todo-board h5 {
    text-align: center;
}

#doing-board {
    margin-top: 15px;
    border: black 2px solid;
    border-radius: 25px;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px #888888;
}

#doing-board h5 {
    text-align: center;
}

#done-board {
    margin-top: 15px;
    border: black 2px solid;
    border-radius: 25px;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px #888888;
}

#done-board h5 {
    text-align: center;
}

#card {
    display: flex;
    justify-content: space-evenly;
}