body {
  font: 100% Play, sans-serif;
  color: #ffffff;
  margin: 0;

  background-image: url("https://media.giphy.com/media/kga6OcqW0CNdfbEHwy/giphy.gif");
}

.button {
  height: 40px;
  width: 100px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #882255;
  border-color: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color:black;
}
.navbar img {
  height: 70px;
}
.navbar .navbar-logo {
  margin-left: 10px;
  padding-top: 5px;
}
.navbar .navbar-item {
  text-align: center;
  color: #ffffff;
}
.navbar .navbar-item p {
  margin-top: -20px;
  color:#882255;
}
.navbar .navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.navbar .navbar-button .button {
  height: 40px;
  width: 100px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #882255;
  border-color:black;
}
.navbar .navbar-button .register {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #882255;
  border-color:black;
}

.button-add {
  display: flex;
  justify-content: center;
}
.button-add a {
  margin-bottom: -65px;
}
.button-add a img {
  height: 3em;
  position: relative;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .control {
  margin-top: 2px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 3em;
  width: 10%;
}
.box .control .item {
  display: flex;
  align-items: center;
  margin: 1em 1em;
}
.box .control .item p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanban {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  overflow-x: scroll;
}

.kanban::-webkit-scrollbar {
  display: none;
}

.data {
  color: black;
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}
.data .card-data {
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 6px -6px black;
}
.data .card-data::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #882255;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}
.data .card-data:hover {
  transform: scale(1.01, 1.1);
}
.data .card-data:hover::after {
  opacity: 0.9;
}

.card {
  max-height: 62vh;
  overflow-y: scroll;
  margin: 2em;
}
.card .data {
  font-size: 17px;
  width: 15vw;
}
.card .data .icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.card .data .icon i {
  color: #093ea1;
}

.card::-webkit-scrollbar {
  display: none;
}

.col {
  background-color: #0a183dd1;
  max-height: 85vh;
  margin: 4px;
  max-width: 70vw;
}
.col .title {
  text-align: center;
}
.col button {
  height: 40px;
  width: 100px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #882255;
  border-color:black;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #17293d;
  position: absolute;
  border-radius: 25px;
  z-index: 1;
  top: 30%;
  left: 50%;
  margin-left: -20vw;
  box-shadow: 0 0 90px #000;
}
.form-container form {
  margin: 14px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 25vh;
}
.form-container form label {
  margin: 2px;
  font-size: 20px;
}
.form-container form input {
  font-size: 16px;
  height: 2em;
  padding-left: 10px;
  margin: 3px;
}
.form-container form textarea {
  font-size: 20px;
  padding-left: 10px;
  height: 4em;
  margin: 3px;
}
.form-container form .button-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-container form .button-form .delete {
  background-color: red;
  color: black;
  text-transform: uppercase;
  border: none;
}
.form-container form .button-form .edit {
  background-color: #00b44b;
  color: black;
  text-transform: uppercase;
  border: none;
}

