<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Login & Register</title>
</head>
<body>

    <div id="form_login" v-show="curentPage === 'login'">
        <br>
        <div id="alertLogin" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Invalid Username or Password!</strong>
        </div>
        <form id="dataLogin" @submit.prevent="login">
            <div class="">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="emailLogin" v-model="emailLogin" placeholder="Email">
                </div>
            </div>
            <br>
            <div class="">
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="passwordLogin" v-model="passwordLogin" placeholder="Password">
                </div>
            </div></br>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
        <div class="col-sm-12" style="margin-top: 10px; margin-bottom: 10px;">
            Or Login With Google:
        </div>
        <div class="col-sm-12">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;" id="registerclick">
            <h5>Don't have an account? <a href="#">Sign Up</a></h5>
        </div>
    </div>

    <div id="form_registration" v-show="curentPage === 'register'">
        <form id="dataRegister" @submit.prevent="register">
          <h3>Registration Form</h3>
            <div class="">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="nameReg" v-model="nameReg" placeholder="Name">
                </div>
            </div>
            <br>
            <div class="">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="emailReg" v-model="emailReg" placeholder="Email">
                </div>
            </div>
            <br>
            <div class="">
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="passwordReg" v-model="passwordReg" placeholder="Password">
                </div>
            </div></br>
            <div class="">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    <br>

    <div id="addTask" v-show="addtask">
        <form @submit.prevent="addTask">
          <h3>Add Your Task</h3>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="titleTask" v-model="titleTask" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="description" v-model="description"  placeholder="Describe your task here..."></textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <!-- <label for="inputState">State</label> -->
                <select id="category" v-model="category" class="form-control">
                  <option value="" selected>--Select Category--</option>
                  <option value="backlog"><em>Backlog</em></option>
                  <option value="todo"><em>Todo</em></option>
                  <option value="doing"><em>Doing</em></option>
                  <option value="done"><em>Done</em></option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block"><b>Add New Task</b></button>
          </form>
    </div>
</body>
</html>