/* GENERAL */

* {
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.brand {
    display: inline;
}


/* NAVBAR */


/* LOGIN PAGE */

#login-page {
    width: 30vw;
    padding: 20px;
    background-color: antiquewhite;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 2px #EF702A;
}


/* REGISTER PAGE */

#register-page {
    width: 30vw;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: solid 2px #EF702A;
}


/* MAIN PAGE */

.card {
    height: 45vw;
    border: solid 2px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.task-container {
    overflow: scroll;
    padding: 5px;
}

.task {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 15px;
    margin: 5%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    max-height: auto;
}

.arrow {
    display: flex;
    justify-content: space-between;
}

.category-title {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    z-index: 100;
    margin: 0;
}

.task p {
    text-shadow: 2px 2px 5px rgba(240, 235, 255, .1);
    font-family: 'Caveat', cursive;
    text-align: center;
}

.task span {
    color: rgba(10, 10, 50, .7);
    font-family: 'Caveat', cursive;
}

.task .card-text {
    color: rgb(89, 89, 89)
}

.list-group {
    height: 80%;
    overflow: scroll;
}