/* GENERAL */

* {
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.brand {
    display: inline;
}


/* NAVBAR */


/* LOGIN PAGE */

#login-page {
    width: 30vw;
    padding: 20px;
    background-color: antiquewhite;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 2px #EF702A;
}


/* REGISTER PAGE */

#register-page {
    width: 30vw;
    padding: 20px;
    background-color: antiquewhite;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 2px #EF702A;
}


/* MAIN PAGE */

.card {
    height: 50vw;
}

.list-group {
    height: 80%;
    overflow: scroll;
}