<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <section id="login-page">
        <div class="login-page-left">
            <h1>KanBan</h1>
        </div>
        <div class="login-page-right">
            <h1>Sign into your account</h1>
            <form id="submit-login">
                <label style="font-family: 'Ubuntu Condensed', sans-serif;">Email :</label>
                <input type="email" id="email-login" placeholder="kanBan@mail.com" required>
                <label style="font-family: 'Ubuntu Condensed', sans-serif;">Password :</label>
                <input type="password" placeholder="*******" required>
                <button class="login-btn" id="pass-login" type="submit">Login</button>
            </form>
            <hr>
            <br>
            <div class="register">
                <p>Dont have account ? <a href="#">Register here</a></p>
            </div>
        </div>
    </section>




    <!--main page-->

    <div class="container-fluid d-flex justify-content-between" style="width: 100vw;background-color: black;">
        <div class="col-2" style="height: 100vh;background-color: black">
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column" style="height: 100vh;">
              <a class="navbar-brand" href="#" id="kanBan">KanBan</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex flex-column">
                  <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Pricing</a>
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
              </div>
            </nav>
    
          </div>
        <div class="container-fluid d-flex justify-content-between col-9">
            <div class="col-3 ">
            <div class="card-header">
                <h4>Backlog</h4>
            </div>
            <div class="card-body">
                <!---->
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">some</p>
                </div>
            </div>
            <!---->
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some</p>
                </div>
            </div>
            </div>
            </div>
    
            <div class="col-3">
            <div class="card-header">
            <h4>Todo</h4>
            </div>
            <div class="card-body">
            <!---->
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <!---->
            </div>
        </div>
    
        <div class="col-3">
            <div class="card-header">
            <h4>Going</h4>
            </div>
            <div class="card-body">
            <!---->
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <!---->
            </div>
        </div>
    
        <div class="col-3">
            <div class="card-header">
            <h4>Done</h4>
            </div>
            <div class="card-body">
            <!---->
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <!---->
            </div>
        </div>
        
    
        </div>
    
        </div>
        </div>
</body>
</html>








