/* purgecss start ignore */
@tailwind base;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}

pre {
    font-family: 'Fira Code', monospace;
}

nav, footer {
    position: fixed;
    width: 100vw;

    z-index: 5
}

nav {
    top: 0;
}

footer {
    bottom: 0;
    @apply py-2;
    @apply text-center;
}

section {
    @apply h-screen w-screen;
}

@tailwind components;

body {
    @apply bg-gray-200;
    @apply overflow-hidden;
}

#auth, #main {
    @apply w-screen h-screen;
}

#auth {
    @apply flex flex-col;
    @apply justify-center items-center align-middle;
}

#auth > .card {
    width: 400px;
    @apply grid gap-4;
}

.tab-wrapper {
    @apply flex;
    @apply justify-center;
}

#auth > .card > .tab-wrapper .tab {
    @apply border-b-2;
    @apply px-8 py-2;
    @apply mx-4;
}

#auth > .card > .tab-wrapper .tab.active {
    @apply bg-gray-200;
}

/* purgecss end ignore */

@tailwind utilities;

nav, .card, footer {
    @apply bg-white;
}

.container {
    max-width: 1200px;
    @apply mx-auto;
}

nav, footer {
    @apply shadow-lg;
}

h1 {
    @apply text-6xl;
}

h3 {
    @apply text-2xl;
}

#menu-contents{
    top: 3em;

    @apply bg-white;
    @apply z-50;
}

a {
    @apply inline-block;
    @apply transition-all;
    @apply duration-100;
}

#menu-contents > a {
    @apply p-4;
}

#menu-contents > a:hover {
    @apply bg-gray-200;
}

#quote, #quoteAuthor {
    @apply text-gray-600;
}

#todos > .card > .list:first-child {
    @apply rounded-t-lg
}

#greeting {
    @apply w-full
}

#greeting.card, #auth > .card {
    @apply p-8;
}

.list .description {
    @apply block
}

.info{
    @apply bg-blue-700;
    @apply text-white;
}

.danger{
    @apply bg-red-700;
    @apply text-white;
}

.warning{
    @apply bg-yellow-700;
    @apply text-white;
}

.success{
    @apply bg-green-700;
    @apply text-white;
}

.btn{
    @apply px-4 py-2;
    @apply rounded-md;
    @apply transition-all;
    @apply duration-100;
}

.btn:hover{
    @apply bg-opacity-75;
}

.btn:active{
    @apply bg-opacity-50;
    @apply opacity-75;
}

.list .url {
    @apply text-blue-600;
}

.list .url:hover {
    @apply text-blue-800;
}

.card {
    @apply shadow-lg;
    /* @apply w-auto; */
    @apply rounded-lg;

    min-width: min-content;
}

.modal {
    @apply fixed;
    @apply w-full h-full;
    @apply top-0 left-0;
    @apply flex;
    @apply items-center justify-center;

    @apply transition-opacity duration-200;
}

.modal-overlay {
    @apply absolute;
    @apply w-full h-full;
    @apply bg-gray-900;
    @apply opacity-25;
}

.modal-container {
    @apply bg-white;
    @apply w-11/12;
    @apply mx-auto;
    @apply card;
    @apply shadow-lg;
    @apply z-50;
    @apply overflow-y-auto;
}


.modal-close {
    top: 3.5em;
    @apply absolute;
    @apply right-0;
    @apply cursor-pointer;
    @apply flex flex-col;
    @apply items-center;
    @apply mt-4 mr-4;
    @apply text-white text-sm;
    @apply z-50
}


.modal-content {
    @apply py-4 px-6;
    @apply text-left;
}

.modal-title {
    @apply flex;
    @apply justify-between items-center;
    @apply pb-3;
}

.modal-title > .title {
    @apply text-2xl;
    @apply font-bold;
}

.modal-footer {
    @apply flex;
    @apply justify-end;
    @apply pt-2;
}

input {
    @apply my-2;
}

input:not([type=checkbox]):not([type=submit]):not([type=radio]) {
    @apply h-12;
}

input:not([type=checkbox]):not([type=submit]):not([type=radio]), textarea {
    @apply w-full;
    @apply text-lg;
}

#code{
    /*  */
}

/* 3rd parties */

.swal2-container.swal2-bottom-start {
    bottom: 2.5em !important;
}

/* Larger media resolutions */

@screen md {
    .modal-container {
        @apply max-w-md;
    }
    #greeting {
        @apply max-w-sm;
    }
}